.post-parent {
    display: flex;
    justify-content: space-evenly;
    border-top: 0.10rem solid;
}

.post-box {
    background-color: none;
    width: 500px;
    height: 500px;
}

#middle-post {
    border-left: solid;
    border-right: solid;
    border-width: 0.10rem ;
    padding-left: 30px;
    padding-right: 30px;
}

.post-box>p{
    font-family: 'Voltaire', sans-serif;
    font-size: large;
    text-align: left;
}